*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    height: 100vh;
    font-size: 1.4rem;
    position: relative;

}
.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    background-color: black;
    height: 5px;
    width: 20%;
    background-color: purple;
    border: none;
    box-shadow: 2px 10px 10px 1px;

}

.section h1{
    font-size: 4rem;
}



/* section zero */
.zero{
    background-color: rgba(224, 217, 217, 0.205);
}
.pImg{
    width: 70%;
}

.zerotext{
    width: 70%;
    height: 70%;
    padding: 10px;
 

}

.textdesc{
    width: 100%;
    height: 70%;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 1.2rem;
    box-shadow: 2px 10px 10px 1px rgba(128, 0, 128, 0.432);
    overflow-y: scroll;

}


/* section one */
.one{
    background-color: rgba(192, 192, 192, 0.342);
    box-shadow: 2px 4px 30px 1px black;
}
.dadImg{
    width: 60%;
}
.sectiononeHead hr{
    background-color: rgb(223, 195, 41);
}
.sectionsubHead{
    margin-top: 10px;
}
.one .textdesc{
    box-shadow: 2px 4px 20px 2px rgb(223, 195, 41);

}




/* section two */
.two{
    background-color: white;
    box-shadow: 10px 10px 30px 5px black;

}
.mumImg{
    width: 60%;
}

.two hr{
    background-color: rgb(219, 119, 135);
}

.two .textdesc{
    box-shadow: 2px 4px 20px 2px rgb(219, 119, 135);

}









/* section Three */
.three{
    background-image: url(../images/001bg.png) ;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.sectionText{
    width: 70%;
    height: 70%;
    background-color: rgba(128, 0, 128, 0.76);
    border-radius: 50px;
    box-shadow: 4px 10px 30px 5px black;
    font-size: 1.2rem;

    
}

.sectionthreeHead{
    color: white;
    padding: 10px 20px;
    width: 100%;

}

.sectionthreeHead hr{
    background-color: gold;
    width: 10%;
}

.sectionthreeDesc{
    padding: 0 20px;
    text-align: center;
    color: white;
    height: 80%;
    overflow-y: scroll;



}






/* section 4 */

.four{
    background-color: black;
}
.childrenImg{
    width: 70%;
}

.rightwrapper{
    width: 100%;
    height: 70%;
    background-color: silver;
    border-radius: 30px 0 0 30px;


}
.fourhead{
    width: 100%;
    padding: 20px;
    font-size: 1.6rem;
}

.fourdesc{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    text-align: justify;
    padding: 20px;
    font-size: 1.2rem;

}

.fourhead hr{
    background-color: aliceblue;
}




.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: black;
    color: silver;
}





@media screen and (max-width: 900px) {
    .home{
        font-size: 1.2rem;
    }
    

        .left{
        width: 100%;
        height: 50%;
    }
    .right{
        width: 100%;
        height: 50%;
    }
    .section{
        height: 120vh;
    }
    .sectionText{
        width: 100%;
        border-radius: 50px;
        height: 80%;
    }

    .pImg{
        width: 90%;
    }


    .zerotext{
        height: 70%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .textdesc{
        font-size: 1.2rem;
        overflow-y: scroll;
        padding: 20px;
        height: 70%;
        
    }

    .sectionthreeDesc{
        height: 80%;
        overflow-y: scroll;
    }

    .section h1{
        font-size: 2rem;
    }
    .childrenImg{
        width: 90%;
    }


    .four .right{
        justify-content: end;

    }

    .rightwrapper{
        padding: 10px;
        width: 90%;
        height: 90%;
        border-radius: 30px 0 0 30px;
    }
    .fourhead{
        padding: 10px;
    }
    .fourdesc{
        overflow-y: scroll;

    }

    .footer{
        height: 5%;
    }
    h1{
       font-size: 1.2rem
       ; 
    }
}


@media screen and (max-width: 700px) {
    .section{
        flex-direction: column;
    }



    .dadImg{
        width: 80%;
    }
    .mumImg{
        width: 80%;
    }
    .sectionText{
        width: 90%;
        height: 70%;
        border-radius: 50px;
        box-shadow: 2px 10px 40px 5px black;
    }
    
    .zerotext{
        height: 100%;
        width: 90%;
    }
    .sectionthreeDesc{
        height: 80%;
        overflow-y: scroll;
    }

    h1{
        font-size: 1.6rem;
    }

}


